body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,0.85)), url(BarangayWallpaper.png);
    background-size: cover;
    background-position: center;
}

/* HEADER */
header {
    background: #1f7a2e;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo-title img {
    width: 50px;
    margin-right: 10px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

/* LAYOUT */
.container {
    display: flex;
    padding: 20px;
}

/* LEFT */
.info {
    background-color: #e8f5e9;
    width: 25%;
    font-size: 20px;
    padding: 10px;
}

/* FORM */
.form-container {
    width: 60%;
    padding: 100px;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

.form-container h2 {
    text-align: center;
}

.form-container p {
    text-align: center;
    font-weight: bold;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* BUTTON */
button {
    margin-top: 15px;
    padding: 10px;
    width: 150px;
    background: #2e7d32;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background: #1b5e20;
}

/* RIGHT */
.assisted {
    background-color: #e8f5e9; 
    width: 20%;
    font-weight: bold;
    display: flex;
    flex-direction: column; 
    justify-content: center; /* vertical center */
    align-items: center;     /* horizontal center */
}

.assisted img { 
    width: 80px;
    margin: 10px 0;
}

/* FOOTER */
footer {
    background: #2e7d32;
    color: white;
    text-align: center;
    padding: 10px;
}