.header {
  font-size: 35px;
  color: white;
  background-color: green;
  text-align: center;
  height: 150px;
  padding-bottom: 70px;
  padding-top: 10px;
  margin: 0px;
}
.header h1 {
  margin-bottom: 0px;
}
.header p {
  margin-top: 0px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gallery {
  font-size: 35px;
  color: black;
  background-color: white;
  text-align: center;
}
.about {
  font-size: 35px;
  color: black;
  background-color: white;
  text-align: justify;
  margin: 100px;
  line-height: 55px;
}

.experience {
  font-size: 35px;
  color: black;
  background-color: white;
  text-align: justify;
  margin: 100px;
  line-height: 55px;
}

.nav_bar {
  background-color: #E3EFE9;
  color: grey;
  font-size: 35px;
  text-align: center;
  height: 70px;
  line-height: 50px;
  padding-top: 20px;
}

.nav_bar nav {
  display: flex;
  justify-content: center;
  gap: 40px;
}

#about {
  color: slategray;
  text-decoration: none;
}
#experience {
  color: slategray;
  text-decoration: none;
}
.slideshow-gallery {
	max-width: 1000px;
	position: relative;
	margin: auto;
	background-color: black;
}

.mySlides {
	display: none;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "prev button" to the left */
.prev {
	left: 0;
	border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

.mySlides {
	display: none;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}
