header {
    text-align: center;
    background-color: green;
    color: white;
    font-size: 30px;
    height: 180px;
    line-height: 27px;
    transform: translateY(-30px);
    animation: popup 0.5s ease-out forwards;
}

header h1 {
    padding-top: 50px;
    font-size: 60px;
    margin: 0;
}
header p {
    font-size: 20px; 
    margin: 30px; 
    letter-spacing: 1px;
}
footer {
    padding-top: 10px;
    text-align: center;
    background-color: green;
    color: white;
    font-size: 17px;
    height: 50px;
    line-height: 27px;
    transform: translateY(-30px);
    animation: popup 0.5s ease-out forwards;
}
.About_section, .Experience_section, .Gallery_section{
    animation-name: fadeInSlideUp;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.nav_bar {
    background-color: #E3EFE9;
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 30px; 
    height: 90px; 
    transform: translateY(-30px);
    animation: popup 0.5s ease-out forwards;
    position: sticky;
    z-index: 1;
    top: 0;
}

.nav_bar a {
    color: green;
    font-size: 20px;
    text-decoration: underline;
    padding: 10px 20px; 
    background: none; 
    text-align: center;
    float: left;
    display: block;
    transition: color 0.3s ease-in-out, transform 0.3s ease-out;
}
.nav_bar a:hover{
    color: yellow;
    transform: scale(1.1);
}
.About_section h1 {
    padding-top: 80px;
    text-align: center;
    background-color: white;
    color: green;
    font-size: 35px;
    margin-left: 300px;
    margin-right: 300px;
}
.About_section p, .Experience_section p {
    text-align: justify;
    background-color: white;
    color: black;
    font-size: 23px;
    margin-left: 370px;
    margin-right: 370px;
    line-height: 200%;
    word-spacing: 13px;
}
.Experience_section h1 {
    margin-top: 120px;
    text-align: center;
    background-color: white;
    color: green;
    font-size: 35px;
    margin-left: 300px;
    margin-right: 300px;
}

.Gallery_section  {
    margin-top: 120px;
    text-align: center;
    background-color: white;
    color: green;
    font-size: 28px;
}

body {
    margin: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing:border-box
}
html {
    scroll-behavior: smooth;
}
.slideshow-gallery {
	max-width: 1000px;
	position: relative;
	margin: auto;
	background-color: black;
}

.mySlides {
	display: none;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "prev button" to the left */
.prev {
	left: 0;
	border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numberText {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
@keyframes popup {
    to {
        opacity: 1;
        transform: translateY(0);
    }    
}

@keyframes fadeInSlideUp {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
